<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}myAE{% endblock %}</title>
    <style type="text/css">
      @font-face {
        font-family: 'FontAwesome';
        src: url({{asset('fonts/fontawesome-webfont.eot?v=4.2.0')}});
        src: url({{asset('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0')}}) format('embedded-opentype'),
        url({{asset('fonts/fontawesome-webfont.woff?v=4.2.0')}}) format('woff'),
        url({{asset('fonts/fontawesome-webfont.ttf?v=4.2.0')}}) format('truetype'),
        url({{asset('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular')}}) format('svg');
        url({{asset('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular')}}) format('svg');
        font-weight: normal;
        font-style: normal;
      }
        @font-face {
          font-family: 'Glyphicons Halflings';
          src: url({{asset('fonts/glyphicons.eot')}}) format('embedded-opentype'),
          url({{asset('fonts/glyphicons.woff2')}}) format('woff2'),
          url({{asset('fonts/glyphicons.woff')}}) format('woff'),
          url({{asset('fonts/glyphicons.ttf')}}) format('truetype'),
          url({{asset('fonts/glyphicons.svg#glyphicons_halflingsregular')}}) format('svg');
        }
    </style>
    {% block stylesheets %}
        {% stylesheets '@css_bootstrap_and_sbadmin' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home')}}">myAE</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                {# render(controller("LGMyAEBundle:User:menu")) #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Paramètres</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout')}}"><i class="fa fa-fw fa-power-off"></i> Déconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% block menu %}
                    {% endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
              {% block body %}
              {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

  {% block javascripts %}
    {% javascripts '@js_bootstrap_and_jquery' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}

</body>
</html>