{% extends "LGMyAEBundle::layout.html.twig" %}

{% block title %}
  Client {{ client.name }} - {{ parent() }}
{% endblock %}

{% block lgmyae_body %}

  <h1 class="testAssetic">Gestion des clients <span class="small"><a href="{{ path('client_list')}}">Retour à la liste des clients</a></span></h1>

  <hr>



  <div class="row">
  <h2>{{ client.name }} <small><a href="{{ path('client_edit', {'id': client.id})}}"><i class="fa fa-edit" aria-hidden="true"></i> Modifier le client</a></small></h2>
    <div class="col-md-6">
      <p>
        <strong>Référent : </strong> {{ client.referentName }}<br>
        <strong>Date d'ajout : </strong> {{ client.dateAjout|date("d/m/Y") }}<br>
        <strong>Date de dernière interraction : </strong> {{ client.dateActif|date("d/m/Y") }}<br>
        <strong>Mail : </strong> <a href="mailto:{{ client.mail }}">{{ client.mail }}</a><br>
        <strong>Telephone : </strong> <a href="tel:{{ client.telephone }}">{{ formatFrenchNumber(client.telephone) }}</a><br>
        <strong>Status : </strong> {{ client.status }}
      </p>
    </div>
    <div class="col-md-6">
      <h3>Adresses</h3>
      <ul>
        {% for address in client.addresses %}
        <li>
          <h4>{{ address.type }}</h4>
          <p>
            {{ address.name }}<br>
            {{ address.additonalAddress }}<br>
            {{ address.address }}<br>
            {{ address.postalCode }} - {{ address.city }}<br>
            {{ address.country }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}