{% extends "LGMyAEBundle::layout.html.twig" %}

{% block title %}
  Facture - {{ parent() }}
{% endblock %}

{% block lgmyae_body %}

  <h1 class="testAssetic">Gestion des factures</h1>

  <hr>
  {% if addEdit == "add" %}
    <h2>Ajout d'une facture</h2>
  {% else %}
    <h2>Modification d'une facture</h2>
  {% endif %}

  <div class="well">
    {{ form_start(factureForm, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(factureForm) }}

      <div class="row">


        <div class="form-group">
          <div class="col-md-6">
            <div class="row">
                {{ form_label(factureForm.client, "Client", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                {{ form_widget(factureForm.client, {'attr': {'class': 'form-control'}}) }}
              </div>
              {% if form_errors(factureForm.client) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.client) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
                {{ form_label(factureForm.type, "Type", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                {{ form_widget(factureForm.type, {'attr': {'class': ''}}) }}
              </div>
              {% if form_errors(factureForm.type) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.type) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4">
            <div class="row">
                {{ form_label(factureForm.paiement_date, "Date du paiement", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                {{ form_widget(factureForm.paiement_date, {'attr': {'class': ''}}) }}
              </div>
              {% if form_errors(factureForm.paiement_date) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.paiement_date) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
                {{ form_label(factureForm.prestation_date, "Date de réalisation de la presta", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                {{ form_widget(factureForm.prestation_date, {'attr': {'class': ''}}) }}
              </div>
              {% if form_errors(factureForm.prestation_date) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.prestation_date) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
                {{ form_label(factureForm.penalite_date, "Date de début de pénalités", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                {{ form_widget(factureForm.penalite_date, {'attr': {'class': ''}}) }}
              </div>
              {% if form_errors(factureForm.penalite_date) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.penalite_date) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <div class="row">
                {{ form_label(factureForm.penalite_taux, "Taux de pénalité", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                <div class="input-group">
                  {{ form_widget(factureForm.penalite_taux, {'attr': {'class': 'form-control'}}) }}
                  <div class="input-group-addon"> %</div>
                </div>

              </div>
              {% if form_errors(factureForm.penalite_taux) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.penalite_taux) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
                {{ form_label(factureForm.accompte, "Accompte déposé", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
              <div class="col-md-8">
                <div class="input-group">
                  {{ form_widget(factureForm.accompte, {'attr': {'class': 'form-control'}}) }}
                  <div class="input-group-addon"> €</div>
                </div>

              </div>
              {% if form_errors(factureForm.accompte) is not empty %}
                <div class="col-md-8 col-md-push-4">
                  <div class="alert alert-warning small-alert" role="alert">
                    {{ form_errors(factureForm.accompte) }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-12">
            <h3 class="text-center">{{ form_label(factureForm.lignes) }}</h3>
          </div>
          <div class="col-md-12">{{ form_errors(factureForm.lignes) }}</div>

        </div>


        <table class="table" >
          <thead>
            <tr>
              <th>Actions</th>
              <th>Type</th>
              <th>Titre</th>
              <th>Quantité</th>
              <th>PU</th>
              <th>Subtots</th>
            </tr>
          </thead>
          <tbody  id="collectionContainer" data-prototype="
                 {% filter escape %}
                     {{ include('LGMyAEBundle:Ligne:prototype.html.twig', { 'form': factureForm.lignes.vars.prototype }) }}
                 {% endfilter %}">
            {% for ligne in factureForm.lignes %}
              {{ include('LGMyAEBundle:Ligne:prototype.html.twig', { 'form': ligne }) }}
            {% endfor %}
          </tbody>
        </table>



        <div class="form-group">
          {# Ugluy debug. If not that "ligne" title appear #}
          {{ form_widget(factureForm.lignes) }}
          <div class="col-md-12 text-center"><a href="#" id="add_ligne" class="btn btn-default">Ajouter une ligne!</a></div>
        </div>

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <div class="form-group">
        <div class="col-md-12 text-center">
          {{ form_widget(factureForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
          </div>
        </div>
        {{ form_rest(factureForm) }}
      </div>

    {{ form_end(factureForm) }}
  </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@js_jquery_ui' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    var $container = $('#collectionContainer');
    var index = $container.find('.ligne').length;
    $('#add_ligne').click(function(e) {
      addLigne($container);
      e.preventDefault();
      return false;
    });

    if (index != 0) {
      updateRemisable()
      $container.children('.ligne').each(function() {
        addDeleteLink($(this));
        var id = $(this).find('.ordreHidden').val();
        $(this).addClass('ligne-'+id);
        updateLine(id, true)

        $(this).find('.selectType').data('id', id);
        $(this).find('.ordreHidden').data('id', id);
      });
    }

    $container.sortable({
      placeholder: "moving-empty",
      update: function( event, ui ) {
        var newIndex = 1;
        $container.children('.ligne').each(function() {
          $(this).find('.ordreHidden').val(newIndex);
          $(this).find('.selectType').data('id', newIndex);
          $(this).find('.ordreHidden').data('id', newIndex);
          $(this).removeClass(($(this).attr('class').match(/ligne-[0-9]+/)[0]));
          $(this).addClass('ligne-'+newIndex);

          newIndex++;
        });
      }
    });

    $container.on('change','select', function(){
      var id =  $(this).data('id');
      updateLine(id, false)
    });

    $(".remisable").change(function(){
        updateRemisable()
    });

    function updateRemisable(){
      if($(".remisable").is(':checked')){
          $(".thRemisable").show();
           $container.children('.ligne').each(function() {
            if($(this).find(".selectType").val() == "subtotal"){
              if($(this).find(".tdRemisable").data("state") == "pu"){
                var pu = $(this).find(".tdPu").html();
                $(this).find(".tdPu").html($(this).find(".tdRemisable").html())
                $(this).find(".tdRemisable").html(pu);
                $(this).find(".tdRemisable").data("state", "remisable")
              }
            }
              $(this).find('.tdRemisable').show();
          });
        }else{
          $(".thRemisable").hide();
          $container.children('.ligne').each(function() {
            if($(this).find(".selectType").val() == "subtotal"){
              if($(this).find(".tdRemisable").data("state") == "remisable"){
                var pu = $(this).find(".tdPu").html();
                $(this).find(".tdPu").html($(this).find(".tdRemisable").html())
                $(this).find(".tdRemisable").html(pu);
                $(this).find(".tdRemisable").data("state", "pu")
              }

            }
              $(this).find('.tdRemisable').hide();
          });
        }
    }

    function resetRemisable(id){
        var l = $(".ligne-"+id);
        if(l.find(".tdRemisable").data("state") == "pu"){
          var pu = l.find(".tdPu").html();
          l.find(".tdPu").html(l.find(".tdRemisable").html())
          l.find(".tdRemisable").html(pu);
          l.find(".tdRemisable").data("state", "remisable")
        }
    }

    function updateLine(id, first) {
        var val = $(".ligne-"+id+" .selectType").val();

        if(val == "empty"){
          resetRemisable(id);
          $(".ligne-"+id+" .inputTitle").val("0").hide();
          $(".ligne-"+id+" .inputQuantity").val("0").hide();
          $(".ligne-"+id+" .inputPu").val("0").hide();
          $(".ligne-"+id+" .inputGroupRemise").hide();
          $(".ligne-"+id+" .inputRemise").val("0");
          $(".ligne-"+id+" .inputSubtotals").val("0").hide();
        }else if(val == "subtotal"){
          updateRemisable()
          $(".ligne-"+id+" .inputTitle").show();
          $(".ligne-"+id+" .inputQuantity").val("0").hide();
          $(".ligne-"+id+" .inputPu").val("0").hide();
          $(".ligne-"+id+" .inputGroupRemise").show();
          $(".ligne-"+id+" .inputRemise").val("100");
          if(first == false){
            $(".ligne-"+id+" .inputSubtotals").val("").show();
          }
        }else if(val == "title"){
          resetRemisable(id);
          $(".ligne-"+id+" .inputTitle").show();
          $(".ligne-"+id+" .inputQuantity").val("0").hide();
          $(".ligne-"+id+" .inputPu").val("0").hide();
          $(".ligne-"+id+" .inputGroupRemise").hide();
          $(".ligne-"+id+" .inputRemise").val("0");
          $(".ligne-"+id+" .inputSubtotals").val("0").hide();
        }else if(val == "default"){
          resetRemisable(id);
          if(first == false){
            $(".ligne-"+id+" .inputQuantity").val("").show();
            $(".ligne-"+id+" .inputPu").val("").show();
            $(".ligne-"+id+" .inputTitle").val("").show();
            $(".ligne-"+id+" .inputGroupRemise").show();
            $(".ligne-"+id+" .inputRemise").val("");
            $(".ligne-"+id+" .inputSubtotals").val("").show();
          }
        }


    };

    function addLigne($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__id__/g, (index+1))
        .replace(/__name__/g,        index)
      ;

      var $prototype = $(template);
      $prototype.find(".ordreHidden").val($prototype.find(".ordreHidden").data('value'));
      $prototype.addClass('ligne-'+(index+1));
      addDeleteLink($prototype);

      $container.append($prototype);
      updateRemisable()
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>');

      $prototype.find(".del-button").append($deleteLink);

      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault();
        return false;
      });
    }
  });
</script>

{% endblock %}