<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
<style type="text/css">
  @font-face {
    font-family: 'FontAwesome';
    src: url({{asset('fonts/fontawesome-webfont.eot?v=4.2.0')}});
    src: url({{asset('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0')}}) format('embedded-opentype'),
    url({{asset('fonts/fontawesome-webfont.woff?v=4.2.0')}}) format('woff'),
    url({{asset('fonts/fontawetablesome-webfont.ttf?v=4.2.0')}}) format('truetype'),
    url({{asset('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular')}}) format('svg');
    url({{asset('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular')}}) format('svg');
    font-weight: normal;
    font-style: normal;
  }
    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url({{asset('fonts/glyphicons.eot')}}) format('embedded-opentype'),
      url({{asset('fonts/glyphicons.woff2')}}) format('woff2'),
      url({{asset('fonts/glyphicons.woff')}}) format('woff'),
      url({{asset('fonts/glyphicons.ttf')}}) format('truetype'),
      url({{asset('fonts/glyphicons.svg#glyphicons_halflingsregular')}}) format('svg');
    }
</style>
  {% block stylesheets %}

        <link rel="stylesheet" href="{{ base_dir ~ '/css/bootstrap.min.pdf.css' }}" />
        <link rel="stylesheet" href="{{ base_dir ~ '/css/pdf.css' }}" />
  {% endblock %}
    </head>
    <body>
      <div class="container-fluid" id="body-slim">
        <div class="row infos">
            <div class="col-xs-4 myPart">
                <p>
                    <strong>Au nom et pour le compte de</strong><br>
                    {{ facture.ownedBy.firstName }} {{ facture.ownedBy.name }}<br>
                    <br>
                    {{ facture.ownedBy.address }}<br>
                    {{ facture.ownedBy.postalCode}} {{ facture.ownedBy.city }}<br>
                    {{ facture.ownedBy.country }}
                </p>
                <p class="text-justify">
                    Dispensé d'immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers (RM)
                </p>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4 text-right">
                <p>
                    <strong>A l'attention de </strong><br>
                    {{ facture.client.referentName }}<br>
                    {{ facture.client.name }}<br>
                    <br>
                    {{ facture.client.facturationAddress.address}}<br>
                    {% if facture.client.facturationAddress.additonalAddress is not empty %}
                        {{ facture.client.facturationAddress.additonalAddress}}<br>
                    {% endif %}
                    {{ facture.client.facturationAddress.postalCode}} {{ facture.client.facturationAddress.city}}<br>
                    {{ facture.client.facturationAddress.country|upper}}<br>

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right infosDate">Date: {{ facture.date|date('d/m/Y') }}</div>
        </div>
        <div class="description">
            {% if facture.type == "Accompte" %}
                <h2 class="text-center">Facture d'accompte n°{{ facture.factureNumber }}</h2>
            {% else %}
                <h2 class="text-center">Facture n°{{ facture.factureNumber }}</h2>
            {% endif %}
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="details">Détails</th>
                    <th class="quantity">Quantité</th>
                    <th class="pu">PU HT</th>
                    <th class="total">Total HT</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {% if facture.type == "Accompte" %}
                        <th rowspan="2" class="paiementConditions text-left">
                        Démarrage de la prestation à la confirmation du paiement de l'accompte<br>
                    {% else %}
                        <th rowspan="3" class="paiementConditions text-left">
                        Paiement à 30 jours dès réception de la facture.<br>
                    {% endif %}

                        
                    <span>
                        <strong style="font-size: 1.2em;">Coordonnées bancaires:</strong><br>
                        <strong>Banque:</strong> {{facture.ownedBy.banque}} <strong>Guichet:</strong> {{facture.ownedBy.guichet}} <strong>Numéro de compte:</strong> {{facture.ownedBy.compte}} <strong>Clé:</strong> {{facture.ownedBy.cle}}<br>
                        <strong>IBAN:</strong> {{facture.ownedBy.IBAN}}
                    </span>
                    </th>
                    <th class="text-right" colspan="2">Total HT</th>
                    <th>{{ facture.totalTTC }} €</th>
                </tr>
                {% if facture.type != "Accompte" %}
                <tr>
                    <th class="text-right" colspan="2">(-) Accompte</th>
                    <th>{{ facture.accompte }} €</th>
                </tr>
                {% endif %}
                <tr>
                    <th class="text-right" colspan="2" style="vertical-align: middle;">Net à payer</th>
                    <th style="vertical-align: middle;">{{ facture.netAPayer }} €</th>
                </tr>
            </tfoot>
            <tbody>
                {% for ligne in facture.lignes %}
                    {% if ligne.type == "empty" %}
                        <tr class="devis-empty">

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                        </tr>
                    {% elseif ligne.type == "title" %}
                        <tr class="devis-title">
                          <td class="title">{{ ligne.title }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                        </tr>
                    {% elseif ligne.type == "subtotal" %}
                        <tr class="devis-subtotal">
                          <td class="title">{{ ligne.title }}</td>
                                <td></td>
                                <td></td>
                          <td>{{ ligne.total }} €</td>
                        </tr>
                    {% elseif ligne.type == "default" %}
                        <tr class="devis-default">
                          <td class="title">{{ ligne.title }}</td>
                          <td>{{ ligne.quantity }}</td>
                          <td>{{ ligne.pu }} €</td>
                          <td>{{ ligne.total }} €</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="legal">
            TVA non applicable - article 293 B du CGI
        </div>
        <div class="row infos">
            <div class="col-xs-8 myPart">
                <p>
                    {% if facture.type != "Accompte" %}
                    Date d'execution de la prestation: {{ facture.prestationDate|date('d/m/Y') }}<br>
                    {% endif %} 
                    <!--
                    Date de réglement: {{ facture.paiementDate|date('d/m/Y') }}  
                    -->                  
                </p>
            </div>
            <!--<div class="col-xs-4"></div>
            <div class="col-xs-4 text-right">
                <p>
                    Taux de pénalités à compter du: {{ facture.penaliteDate|date('d/m/Y') }}
                    en l'absence de paiment: {{ facture.penaliteTaux }}% 
                </p>
            </div>-->
        </div>
        <footer class="text-center">
            {{ facture.ownedBy.firstName }} {{ facture.ownedBy.name }} - {{ facture.ownedBy.address }} {{ facture.ownedBy.postalCode}} {{ facture.ownedBy.city }} {{ facture.ownedBy.country }} - SIRET : {{ facture.ownedBy.siret }} - Email : {{ facture.ownedBy.email }}
        </footer>
      </div>
    </body>
    <script type="text/javascript" src="dist/bundle.js"></script>
</html>
